@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <hr />
    <br />
    <h1 class="display-4">Welcome To <span style="color : fuchsia"> ApniDukaan </span> Application</h1>
    <br />
    <hr />
    <br />
    <p style="color : gold">Choose your product</p>
</div>
